<header
  class="nav flex flex-row row py-2 mb-6 w-full border-b border-gray-700 dark:border-gray-300 justify-between"
>
  <div>
    <a class="nav-menu-item" href="{{ .Site.BaseURL }}">Home</a>
    <a class="nav-menu-item" href="{{ `blog` | relURL }}">Blog</a>
    <a class="nav-menu-item" href="{{ `photographs` | relURL }}">Photography</a>
  </div>
  <div>
    <a class="mr-4 no-underline" href="{{ `search` | relURL }}">
      <i class="bi bi-search"></i>
    </a>
    <i
class="bi bi-brightness-high theme-toggle text-orange-dark hover:text-orange dark:text-matcha dark:hover:text-matcha-strong cursor-pointer text-lg mr-9 sm:mr-0"      onclick="toggleTheme()"
    ></i>
  </div>
</header>

{{ partial "toggleTheme.html" . }}
